/* main */
._container{
    margin: auto;
    margin-top: 20%;
}
._container div{
    margin-top: 10%;
    padding: 20px;
    height: fit-content;
}

/* apidocs text */
code{
    background-color: darkslategray;
    color: blanchedalmond;
    border-radius: 10px;
}
h1{
    font-size: 250%;
}
mark{
    border-radius: 10px;
    font-size: 150%;
}
._main_block{
    font-size: 200%;
    margin: 20px;
    height: 2000px;
    overflow: scroll;
}
    ._text_apidocs_block{
        margin-bottom: 10%;
    }