._main_block{

}
    ._main_block_alerts{

    }
    ._main_block_content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(10, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

        #_box1{
            grid-area: 1 / 1 / 3 / 3; 
        }
        #_box2{
            grid-area: 3 / 1 / 5 / 3; 
        }
        #_box3{
            grid-area: 5 / 1 / 7 / 2;
            max-width: 490px;
            margin-top: none;
        }
        #_box4{
            grid-area: 5 / 2 / 7 / 3;
            max-width: 490px;
            margin-top: none;
        }
        #_box5{
            grid-area: 7 / 1 / 9 / 2;
            max-width: 490px;
            margin-top: none;
        }
        #_box6{
            grid-area: 7 / 2 / 9 / 3;
            max-width: 490px;
            margin-top: none;
        }
        #_box7{
            grid-area: 9 / 1 / 11 / 3;
        }

        ._option_block{
            width: 80%;
            height: 400px;
            margin: auto;
            margin-top: 5%;
            margin-bottom: 5%;
            border-radius: 20px;
        }
            ._ob_text{
                font-size: 700%;
                margin: auto;
                padding: 10%;
                text-align: center;
            }
            #_last_login{
                font-size: 50%;
                border: none;
            }
    
    ._main_block_numpad{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
        ._big_numpad{
            grid-area: 1 / 1 / 4 / 2;
            display: grid;
            grid-template-columns: repeat(10, 1fr);
            grid-template-rows: repeat(17, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
        }
            ._numpad_box{
                grid-area: 1 / 1 / 5 / 11;
                font-size: 400%;
                height: 200px;
            }
                ._numpad_box p{
                    text-align: center;
                }
            #_num_button_1{
                grid-area: 6 / 2 / 8 / 4;
            }
            #_num_button_2{
                grid-area: 6 / 5 / 8 / 7;
            }
            #_num_button_3{
                grid-area: 6 / 8 / 8 / 10;
            }
            #_num_button_4{
                grid-area: 9 / 2 / 11 / 4;
            }
            #_num_button_5{
                grid-area: 9 / 5 / 11 / 7;
            }
            #_num_button_6{
                grid-area: 9 / 8 / 11 / 10;
            }
            #_num_button_7{
                grid-area: 12 / 2 / 14 / 4;
            }
            #_num_button_8{
                grid-area: 12 / 5 / 14 / 7;
            }
            #_num_button_9{
                grid-area: 12 / 8 / 14 / 10;
            }
            #_num_button_0{
                grid-area: 15 / 5 / 17 / 7;
            }
            #_num_button_del{
                grid-area: 15 / 8 / 17 / 10;
            }
            ._num_button{
                height: 100%;
                width: 100%;
                color: white;
                margin-top: -5%;
                border-radius: 10px;
            }
                ._num_button p{
                    font-size: 250%;
                    text-align: center;
                }
        ._numpad_buttons{
            grid-area: 4 / 1 / 6 / 2;
            display: auto;
            margin: auto;
            height: 80%; width: 99%;
            padding-top: 5%;
        }
            #_close_sesion_button, #_set_pin_button{
                margin: auto;
                margin-bottom: 3%;
                padding: 20px;
            }

        ._big_menu_box{
            border-top: none;
            border-left: none;
            border-right: none;
        }
        .bbtext_clon{
            height: 253.4px;
            padding: 90px 150px 0px 5%;
            text-align: left;
            font-size: var(--system-big-text);
            vertical-align: middle;
            display: table-cell; 
        }