._main_block{

}
    ._main_block_alerts{

    }
    ._main_block_content{
        display: block;
    }
        ._option_block{
            width: 80%;
            height: 400px;
            margin: auto;
            margin-top: 5%;
            margin-bottom: 5%;
            border-radius: 20px;
        }
            ._ob_text{
                font-size: 700%;
                margin: auto;
                padding: 10%;
                text-align: center;
            }
    
    ._main_block_numpad{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(10, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        height: 100%;
    }
        ._big_numpad{
            border: solid 4px red;
            grid-area: 1 / 1 / 8 / 2;

            
        }
        ._numpad_buttons{
            border: solid 4px yellow;
            grid-area: 8 / 1 / 11 / 2;
        }