/* 

CSS styles for manage_workspace

*/
._bbx_text_cust{
    width: 1000px;
    height: 253.4px;
    padding:0;
    text-align: left;
    font-size: var(--system-big-text);
    vertical-align: middle;
    display: table-cell; 

}
    .bbtx_top{
        font-size: 90%;
        margin: 50px 30px 0 50px;
    }
    .bbtx_bottom{
        font-size: 60%;
        padding: 20px 50px 10px 50px;
    }
    ._main_boxes_live{
        display: block;
        max-height: 500px;
    }

#_menu_box_custom{
    border: none !important;
}

.code_box p{
    font-size: 1200%;
    padding: 40px;
    margin: 5%;
    margin-top: 20%;
    text-align: center;
    font-family: monospace;
    border-radius: 10px;
    /* shadow*/
    -webkit-box-shadow: 0px 0px 35px -6px rgba(56,56,56,1);
    -moz-box-shadow: 0px 0px 35px -6px rgba(56,56,56,1);
    box-shadow: 0px 0px 35px -6px rgba(56,56,56,1);
}
.code_box p:hover{
    background-color: gray;
}
.code_box p:active{
    background-color: gray;
}