._main_block{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    ._main_block_alerts{}
    ._main_block_content{
        margin-top: 10%;
        display: block;
    }
        ._mbc_inputs input{
            margin-bottom: 5%;
        }
        #_next_buttom{
            margin: auto;
            
        }
    #_stage_0{
    }
    #_stage_1{
    }