._main_block{
    display: grid;
}
    ._main_block_alerts{}
    ._main_block_content{
        margin-top: 10%;
        display: block;
    }
        _mbc_inputs{
            display: grid;
        }
            ._mbc_inputs input{
                margin-bottom: 5%;
            }
            #_stage_0{
            }
            #_stage_1{
            }
            #_stage_2{
            }
                ._big_selector{
                    margin: auto;
                }
                ._s_main{
                    background: #edf0fa;
                    color:#49547B;
                    border: solid 2px #49547B;
                }
                ._s_altern{
                    background: #49547B;
                    color: #edf0fa;
                }
                ._s_box_main{
                    background: #edf0fa;
                    color:#49547B;
                }
                    ._s_box_main:active, ._s_box_main:hover{
                        background: #49547B;
                        color: #edf0fa;
                        border: solid 2px #edf0fa;
                    }
                ._s_box_altern{
                    background: #49547B;
                    color: #edf0fa;
                }
                    ._s_box_altern:active, ._s_box_altern:hover{
                        background: #49547B;
                        color: #edf0fa;
                        border: solid 2px #edf0fa;
                    }
            #_stage_3{
                height: 50%;
            }
                ._terms_box{
                    margin: 20% 4% 0% 4%;
                    text-align: left;
                }
        #_next_button{
            margin: auto;
        }
        #_create_button{
            margin: auto;
        }
            #_create_button p {
                padding: 4% 5% 5% 4%;
            }
        #_back_button{
            margin: auto;
            margin-top: 5%;
        }