._main_block{
    display: grid;
}
    ._main_block_alerts{}
    ._main_block_content{
        margin-top: 10%;
        display: block;
    }
        _mbc_inputs{
            display: grid;
        }
            ._mbc_inputs input{
                margin-bottom: 5%;
            }
            #_stage_0{
            }
            #_stage_1{
            }
            #_stage_2{
            }
                ._big_selector{
                    margin: auto;
                }
        #_next_button{
            margin: auto;
        }
        #_back_button{
            margin: auto;
            margin-top: 5%;
        }