._main_block_alerts{
    height: 200px !important;
}

._main_block_content{
    
}
    ._bbx_text{
        padding-right: 50px !important;
    }
    ._box_custom_ws{
        
    }
        ._box_custom_ws div{
            padding-left: 50px;
        }
        ._bc_ws_inf{
            padding-top: 30px;
            grid-area: 1 / 1 / 3 / 6;
        }
        ._bc_ws_tax{
            grid-area: 3 / 1 / 4 / 3;
            font-size: 55%;
        }
        ._bc_ws_cit{
            grid-area: 4 / 1 / 5 / 3;
            font-size: 55%;
            white-space: nowrap;
        }
        ._bc_ws_pos{
            grid-area: 5 / 1 / 6 / 3;
            font-size: 55%;
            padding-bottom: 30px;
        }
        ._bc_ws_man{
            grid-area: 4 / 4 / 6 / 6;
            font-size: 90%;
            padding: auto;
            margin: auto;
        }
    ._menu_box_clon{
        
    }