{% extends 'base.html' %}
{% block title %}
Api Docs V-0.1 - {{ super() }}
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="../static/apidocs.css">
{{ super() }}
{% endblock %}

{% block _title %}
Time Card
{% endblock %}

{% block _flex_box %}
<div class="_main_block">
    <div class="_text_apidocs_block">
        <h1>Login Service </h1>
        <p><mark style="background-color: lightgreen;"> GET /login</mark></p>
        <p>Service called via a GET request. Serve as a login service.</p>
        <p><mark>Request params:</mark></p>
        <ul>
            <li> <strong> u </strong>: Username string</li>
            <li> <strong> p </strong>: Base64 password string</li>
        </ul>
        <p><mark>Response payload:</mark></p>
<code>
{
    "expire": expire_string,
    "id": id_string,
    "username": username_string
}
</code>
        <p><mark>Error responses: </mark></p>
        <ul>
            <li> <strong> 401 </strong>: User or password not valid.</li>
            <li> <strong> 404 </strong>: User not yet registered.</li>
        </ul>
    </div>
    <div class="_text_apidocs_block">
        <h1>Signup Service </h1>
        <p><mark style="background-color: red;color: white"> POST /signup</mark></p>
        <p>Service called via a POST request. </p>
        <p><mark>Request payload:</mark></p>
<code>
{
    "activate": active_bool,
    "username": username_string,
    "bday": birthday_string,
    "email": email_string,
    "fname": fullname_string,
    "pass": b64password_string,
    "phone": phone_string,
    "pin": pin_string, 
    "plan": plan_number,
    "postalCode": postalcode_string,
    "terms": terms_bool,
    "type": type_nuber
}
</code>
        <p><mark>Response payload:</mark></p>
<code>
{
    "trxId": transaxtion_id
}
</code>
        <p><mark>Error responses: </mark></p>
        <ul>
            <li> <strong> 500 </strong>: Error creating user in backend.</li>
            <li> <strong> 409 </strong>: User already registered.</li>
            <li> <strong> 400 </strong>: Bad request.</li>
        </ul>
    </div>
</div>
{% endblock %}

{% block _flex_menu %}

{% if _logged: %}
<div class="_menu_box _box_main _box_main_bot" id="_backtoapidocs">Back to Apidocs</div>
{% else: %}
<div class="_menu_box _box_main _box_main_bot _en _hidden" id="_login_en">Login</div>
<div class="_menu_box _box_main _box_main_bot _en _hidden" id="_signup_en">Signup</div>
<div class="_menu_box _box_main _box_main_bot _es _hidden" id="_login_es">Inicia Sesion</div>
<div class="_menu_box _box_main _box_main_bot _es _hidden" id="_signup_es">Registrate</div>
{% endif %}

{% endblock %}

{% block scripts %}
{{ super() }}
<script src="../static/apidocs.js"></script>
{% endblock %}