{% extends 'base.html' %}
{% block title %}
Api Docs - {{ super() }}
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="../static/apidocs.css">
{{ super() }}
{% endblock %}

{% block _title %}
Time Card
{% endblock %}

{% block _flex_box %}
<div class="_container">
    <div class="_main_block">
        <div class="_menu_box_clon color_1_bg color_2_tx" id="_v001">Alexandria API v0.01</div>
        <div class="_menu_box_clon color_1_bg color_2_tx" id="_v002">Alexandria API v0.02</div>
        <div class="_menu_box_clon color_1_bg color_2_tx" id="_v004">Alexandria API v0.04</div>
        <div class="_menu_box_clon color_1_bg color_2_tx" id="_v005">Alexandria API v0.05</div>
    </div>
</div>
{% endblock %}

{% block _flex_menu %}

{% if _logged: %}
<div class="_menu_box _box_main _box_main_bot" id="_dashboard">Dashboard</div>
{% else: %}
<div class="_menu_box _box_main _box_main_bot _en _hidden" id="_login_en">Login</div>
<div class="_menu_box _box_main _box_main_bot _en _hidden" id="_signup_en">Signup</div>
<div class="_menu_box _box_main _box_main_bot _es _hidden" id="_login_es">Inicia Sesion</div>
<div class="_menu_box _box_main _box_main_bot _es _hidden" id="_signup_es">Registrate</div>
{% endif %}

{% endblock %}

{% block scripts %}
{{ super() }}
<script src="../static/apidocs.js"></script>
{% endblock %}