{% extends 'base.html' %}
{% block title %}
Api Docs V-0.4 - {{ super() }}
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="../static/apidocs.css">
{{ super() }}
{% endblock %}

{% block _title %}
Api Docs V-0.4
{% endblock %}

{% block _flex_box %}
<div class="_main_block">
    <div class="_text_apidocs_block">
        <section>
            <h1>1. Session Service</h1>
            <p><strong>Endpoint: /session </strong></p>
            <h3>Methods</h3>
            <p>
                <mark style="background-color: lightgreen;">GET</mark>: Retrieve session details
            </p>
            <p><strong>Headers:</strong></p>
            <ul>
                <li>SessionId: Session ID</li>
                <li>browserVersion: Browser version</li>
                <li>clientIp: Client's IP address</li>
            </ul>
            <p><strong>Success Response (200 OK):</strong></p>
<code>
{
    "items": [
        {
            "clientIp": "client's IP address",
            "clientVersion": "browser version",
            "id": "session ID",
            "tokenId": "token ID",
            "userId": "user ID"
        }
    ],
    "limit": 1,
    "count": 1,
    "containsData": true,
    "query": ""
}
</code>

            <p><strong>Error Responses:</strong></p>
            <ul>
                <li>401 Unauthorized: Invalid authorization (missing headers, session not found, or client details mismatch)</li>
                <li>422 Unprocessable Entity: Missing required authentication headers</li>
            </ul>
            <p>
                <mark style="background-color: yellow;">POST</mark>: Create a new session (login)
            </p>
            <p><strong>Payload:</strong></p>
<code>
{
    "requestString": "base64 encoded username_password",
    "client": {
        "ip": "client's IP address",
        "browser": "browser version"
    }
}
</code> 
            <p><strong>Success Response (200 OK):</strong></p>
<code>
{
    "_session_id": "new session ID",
    "trxId": "transaction ID"
}
</code>
            <p><strong>Error Responses:</strong></p>
            <ul>
                <li>400 Bad Request: User/password incorrect or user not found</li>
                <li>403 Forbidden: Missing requested parameters in payload</li>
                <li>422 Unprocessable Entity: Missing required data structure in payload</li>
                <li>500 Internal Server Error</li>
            </ul>
            <p>
                <mark style="color:white;background-color: red;">DELETE</mark>: Delete a session (logout)
            </p>
            <p><strong>Headers:</strong></p>
            <ul> 
                <li>SessionId: Session ID to delete</li>
            </ul>
            <p><strong>Success Response (200 OK):</strong></p>
<code>
{
    "status": "logged Out",
    "deleted": true/false 
}
</code>
            <p><strong>Error Responses:</strong></p>
            <ul>
                <li>403 Forbidden: Missing requested parameters (SessionId header)</li>
                <li>405 Method Not Allowed</li>
            </ul>
        </section>
        <section>
            <h1>2. User Service</h1>
            <p><strong>Endpoint: /user</strong></p>
            <h3>Methods</h3>
            <P><mark style="background-color: yellow;"> POST</mark>: Create a new user</P>
            <p><strong>Headers:</strong></p>
            <p><italic>Authorization: Bearer Token</italic></p>
            <p><strong>Payload:</strong></p>
<code>
{
    "activate": boolean,
    "username": string,
    "bday": "ddmmyyyy",
    "email": "email address",
    "fname": string,
    "pass": "base64 encoded password",
    "phone": string,
    "pin": string,
    "plan": number,
    "postalCode": string,
    "terms": boolean,
    "type": number,
    "tenant": "tenant ID" 
}
</code>
            <p><strong>Success Response (202 Accepted):</strong></p>
<code>
{
    "code": 202,
    "trxId": "transaction ID"
}
 </code>
            <p><strong>Error Responses:</strong></p>
            <ul>
                <li>400 Bad Request: Missing required fields or validation errors (invalid phone or password format, invalid email)</li>
                <li>401 Unauthorized: Missing authorization header</li>
                <li>403 Forbidden: Missing required fields or validation error</li>
                <li>409 Conflict: Email already registered</li>
                <li>500 Internal Server Error</li>
            </ul>
            <p><mark style="color:white;background-color: blue;">PUT</mark>: Update an existing user</p>
            <p><strong>Headers:</strong></p>
            <p><italic>Authorization: Bearer Token</italic></p></p>
            <p><strong>Payload:</strong></p>
            <p>Same structure as POST payload, but include only the fields to be updated and email to identify the user.</p>
            <p><strong>Success Response (202 Accepted):</strong></p>
<code>
{
    "status": "success",
    "code": 202,
    "reason": "User information updated successfully.",
    "trxId": "transaction ID"
}
</code>
            <p><strong>Error Responses:</strong></p>
            <ul>
                <li>400 Bad Request: No fields to update or invalid payload</li>
                <li>401 Unauthorized: Invalid authorization</li>
                <li>500 Internal Server Error</li>
            </ul>
            <p><mark style="background-color: lightgreen;">GET</mark>: Retrieve a list of users</p>
            <p><strong>Headers:</strong></p>
            <p><italic>Authorization: Bearer Token</italic></p></p>
            <p><strong>Query Parameters:</strong></p>
            <ul>
                <li>filter: (Optional) Filter string (e.g., limit=20&username=johnDoe&active=true)
                    id: (Optional) Filter by email (case-insensitive)</li>
            </ul>
            <p><strong>Success Response (200 OK):</strong></p>
<code>
{
    "containsData": boolean,
    "count": number,
    "items": [
        {
            "activate": boolean,
            "bday": string,
            "email": string,
            "fname": string,
            "phone": string,
            "plan": number,
            "postalCode": string,
            "terms": boolean,
            "type": number,
            "username": string,
            "tenant": "tenant ID", 
            "pin": "user's PIN" 
        }
    ],
    "limit": number,
    "query": "filter string or empty if no filter"
}
</code>
            <p><strong>Error Responses:</strong></p>
            <ul><li></li></ul>
            <p><mark style="color:white;background-color: red;">DELETE</mark>: Delete a user</p>
            <p><strong>Headers:</strong></p>
            <p><italic>Authorization: Bearer Token</italic></p>
            <p><strong>Query Parameters:</strong></p>
            <ul>
                <li>filter: (Optional) Filter string to select users for deletion
                    id: (Optional) Filter by email for deletion</li>
            </ul>
            <p><strong>Success Response (200 OK):</strong></p>
<code>
{
    "deleted_emails": [ "email1", "email2" ], 
    "transaction_ids": {
        "email1": "transaction_id_for_email1",
        "email2": "transaction_id_for_email2"
    }
}
</code>
            <strong>Error Responses:</strong>
            <ul>
                <li>401 Unauthorized: Invalid authorization</li>
                <li>500 Internal Server Error: Errors occurred during deletion</li>
            </ul>
        </section>
        <section>
            <h1>3. Workspace Service</h1>
            <p><strong>Endpoint: /workspace</strong> </p>
            <h3>Methods</h3>
            <p><mark style="background-color: yellow;">POST</mark>: Create a new workspace</p>
            <p><strong>Headers:</strong></p>
            <p><italic>Authorization: Bearer Token</italic></p>
            <p><strong>Payload:</strong></p>
<code>
{
    "Owner": string, 
    "TaxId": string (unique),
    "PostalCode": string,
    "LegalName": string,
    "InformalName": string,
    "ShortCode": string,
    "CountryCode": string,
    "State": string,
    "City": string,
    "AddressLine1": string,
    "AddressLine2": string,
    "AddressLine3": string,
    "AddressLine4": string,
    "PhoneCountryCode": string,
    "PhoneNumber": string,
    "Email": string,
    "MainHexColor": string (hex),
    "AlterHexColor": string (hex),
    "LowHexColor": string (hex),
    "Level": string,
    "CreationDate": string "ddmmyyyyhhmmss"
}
</code>
            <p><strong>Success Response (200 OK):</strong></p>
<code>
{
    "status": "success", 
    "code": 200, 
    "reason": "Workspace created successfully.", 
    "trxId": "transaction ID"
}
</code>
            <p><strong>Error Responses:</strong></p>
            <ul>
                <li>400 Bad Request: Missing required fields</li>
                <li>401 Unauthorized: Invalid authorization</li>
                <li>403 Forbidden: Workspace TaxId already registered</li>
                <li>500 Internal Server Error
            </ul>
            <p><mark style="color:white;background-color: blue;">PUT</mark>: Update an existing workspace</p>
            <p><strong>Headers:</strong></p>
            <p><italic>Authorization: Bearer Token</italic></p>
            <p><strong>Payload:</strong></p>
            <p>Same structure as POST payload, but include only the fields to be updated and TaxId & Owner to identify the workspace</p>
            <p><strong>Success Response (202 Accepted):</strong></p>
<code>
{
    "status": "success", 
    "code": 202, 
    "reason": "Workspace updated successfully.", 
    "trxId": "transaction ID"
}
</code>
            <p><strong>Error Responses:</strong></p>
            <ul>
                <li>400 Bad Request: No fields to be updated, review the request.</li>
                <li> 403 Forbidden: Workspace not found or Owner user does not match. Review the payload and try again.</li>
                <li>500 Internal Server Error: Error updating workspace.</li>
            </ul>
            <p><mark style="background-color: lightgreen;">GET</mark>: Retrieve a list of workspaces</p>
            <p><strong>Headers</strong></p>
            <ul>
                <li>Authorization: Bearer Token</li>
                <li>openData: (Optional, for public access) Set to any value</li>
                <li>privateKey: (Required if openData is present) Correct private key</li>
            </ul>
            <p><strong>Query Parameters:</strong></p>
            <ul>
                <li>filter: (Optional) Filter string (e.g., limit=10&owner=johndoe&active=true)</li>
                <li>id: (Optional) Filter by TaxId</li>
            </ul>
            <p><strong>Success Response (200 OK):</strong></p>
<code>
{
    "containsData": boolean,
    "count": number,
    "items": [
        {
            "Owner": string,
            "TaxId": string,
            "LegalName": string,
            "InformalName": string,
            "ShortCode": string,
            "CountryCode": string,
            "State": string,
            "City": string,
            "AddressLine1": string,
            "AddressLine2": string,
            "AddressLine3": string,
            "AddressLine4": string,
            "PhoneCountryCode": string,
            "PhoneNumber": string,
            "Email": string,
            "MainHexColor": string (hex),
            "AlterHexColor": string (hex),
            "LowHexColor": string (hex),
            "Level": string,
            "Active": boolean,
            "CreationDate": string,
            "PostalCode": string
        }
    ],
    "limit": number,
    "query": "filter string or empty if no filter"
}
</code>
            <p><strong>Error Responses:</strong></p>
            <ul>
                <li>401 Unauthorized: Invalid authorization (missing or incorrect headers)</li>
                <li>403 Forbidden: Missing parameter 'id' when using public access</li>
            </ul>
            <p><mark style="color:white;background-color: red;">DELETE</mark>: Delete a workspace</p>
            <p><strong>Headers:</strong></p>
            <p><italic>Authorization: Bearer Token</italic></p>
            <p><strong>Query Parameters:</strong></p>
            <ul>
                <li>filter: (Optional) Filter string to select workspaces for deletion
                    id: (Optional) Filter by TaxId for deletion</li>
            </ul>
            <p><strong>Success Response (200 OK):</strong></p>
<code>
{
    "deleted_tax_ids": [ "tax_id_1", "tax_id_2" ],
    "transaction_ids": {
        "tax_id_1": "transaction_id_for_tax_id_1",
        "tax_id_2": "transaction_id_for_tax_id_2"
    }
}
</code>
            <p><strong>Error Responses:</strong></p>
            <ul>
                <li>401 Unauthorized: Invalid authorization</li>
                <li>500 Internal Server Error: Errors occurred during deletion</li>
            </ul>
        </section>
        <section>
            <h1>4. Tenant User Service</h1>
            <p><strong>Endpoint: /tenantUser</strong></p>
            <h3>Methods</h3>
            <p><mark style="background-color: yellow;">POST</mark>: Create a new tenant user</p>
            <p><strong>Headers:</strong></p>
            <p><italic>Authorization: Bearer Token</italic></p>
            <p><strong>Payload:</strong></p>
<code>
{
    "Username": string,
    "Id": string (unique),
    "Password": string (base64 encoded),
    "FullName": string,
    "Email": string,
    "Manager": string,
    "Tenant": string,
    "Type": number,
    "CreatedBy": string
}
</code>
            <p><strong>Success Response (200 OK):</strong></p>
<code>
{
    "status": "success",
    "code": 200,
    "reason": "User created successfully.",
    "trxId": "transaction ID"
}
</code>
            <p><strong>Error Responses:</strong></p>
            <ul>
                <li>400 Bad Request: Missing required fields</li>
                <li>401 Unauthorized: Invalid authorization</li>
                <li>403 Forbidden: Username already registered</li>
                <li>500 Internal Server Error</li>
            </ul>
            <p><mark style="color:white;background-color: blue;">PUT</mark>: Update an existing tenant user</p>
            <p><strong>Headers:</strong></p>
            <p><italic>Authorization: Bearer Token</italic></p>
            <p><strong>Payload:</strong></p>
            <p>Include Id and Tenant to identify the user, and any of the following fields to update:</p>
            <ul>
                <li>Username</li>
                <li>Password (base64 encoded)</li>
                <li>FullName</li>
                <li>Email</li>
                <li>Manager</li>
                <li>Type</li>
            </ul>
            <p><strong>Success Response (202 Accepted):</strong></p>
<code>
{
    "status": "success",
    "code": 202,
    "reason": "tenantUser updated successfully.",
    "trxId": "transaction ID"
}
</code>
            <p><strong>Error Responses:</strong></p>
            <ul>
                <li>400 Bad Request: No fields to update or invalid payload</li>
                <li>401 Unauthorized: Invalid authorization</li>
                <li>403 Forbidden: tenantUser not found or Tenant does not match</li>
                <li>500 Internal Server Error</li>
            </ul>
            <p><mark style="background-color: lightgreen;">GET</mark>: Retrieve a list of tenant users</p>
            <p><strong>Headers:</strong></p>
            <p><italic>Authorization: Bearer Token</italic></p>
            <p><strong>Query Parameters:</strong></p>
            <ul>
                <li>filter: (Optional) Filter string (e.g., limit=10&tenant=tenantId&active=true)
                    id: (Optional) Filter by Id</li>
            </ul>
            <p><strong>Success Response (200 OK):</strong></p>
<code>
{
    "containsData": boolean,
    "count": number,
    "items": [
        {
            "Username": string,
            "Id": string,
            "FullName": string,
            "Email": string,
            "Manager": string,
            "Tenant": string,
            "Type": number,
            "CreatedBy": string
        }
    ],
    "limit": number,
    "query": "filter string or empty if no filter"
}
</code>
            <p><strong>Error Responses:</strong></p>
            <ul>
                <li>401 Unauthorized: Invalid authorization</li>
            </ul>
            <p><mark style="color:white;background-color: red;">DELETE</mark>: Delete a tenant user</p>
            <p><strong>Headers:</strong></p>
            <p><italic>Authorization: Bearer Token</italic></p>
            <p><strong>Query Parameters:</strong></p>
            <ul>
                <li>filter: (Optional) Filter string to select tenant users for deletion
                    id: (Optional) Filter by Id for deletion</li>
            </ul>
            <p><strong>Success Response (200 OK):</strong></p>
<code>
{
    "deleted_ids": [ "id_1", "id_2" ],
    "transaction_ids": {
        "id_1": "transaction_id_for_id_1",
        "id_2": "transaction_id_for_id_2"
    }
}
</code>
            <p><strong>Error Responses:</strong></p>
            <ul>
                <li>401 Unauthorized: Invalid authorization</li>
                <li>500 Internal Server Error: Errors occurred during deletion</li>
            </ul>
        </section>
        <section>
            <h1>5. Time Log Service</h1>
            <p><strong>Endpoint: /timeLog </strong> </p>
            <h3>Methods</h3>
            <p><mark style="background-color: yellow;"> POST</mark>: Create a new time log or retrieve an existing pending one</p>
            <p><strong>Payload:</strong></p>
<code>
{
    "requestString": "base64 encoded tenantUserId_password",
    "ip": "client's IP address",
    "browser": "browser version"
}
</code>
            <p><strong>Success Response (202 Accepted):</strong></p>
            <p>If a pending time log exists:</p>
<code>
{
    "status": "success",
    "code": 202,
    "token": "existing time log ID",
    "trxId": "transaction ID for retrieving existing time log"
}
</code>
            <p>If a new time log is created:</p>
<code>
{
    "status": "success",
    "code": 202,
    "token": "new time log ID",
    "trxId": "transaction ID for creating new time log"
}
</code>
            <p><strong>Error Responses:</strong></p>
            <ul>
                <li>400 Bad Request: Missing required parameters or incorrect username/password</li>
                <li>401 Unauthorized: Invalid authorization</li>
                <li>404 Not Found: User not found</li>
                <li>500 Internal Server Error</li>
            </ul>
            <p><mark style="color:white;background-color: blue;">PUT</mark>: Update an existing time log</p>
            <p><strong>Payload:</strong></p>
            <p>Include Id to identify the time log, and any of the following fields to update:</p>
            <ul>
                <li>Active</li>
                <li>Edited</li>
                <li>EditedBy</li>
                <li>EditionDate</li>
                <li>EditionTime</li>
                <li>EndDate</li>
                <li>EndTime</li>
                <li>OriginalEndDate</li>
                <li>OriginalEndTime</li>
                <li>StartDate</li>
                <li>StartTime</li>
            </ul>
            <p><strong>Success Response (202 Accepted):</strong></p>
<code>
{
    "status": "success",
    "code": 202,
    "reason": "timeLog updated successfully.",
    "trxId": "transaction ID"
}
</code>
            <p><strong>Error Responses:</strong></p>
            <ul>
                <li>400 Bad Request: No fields to update or invalid payload</li>
                <li>401 Unauthorized: Invalid authorization</li>
                <li>403 Forbidden: timeLog not found</li>
                <li>500 Internal Server Error</li>
            </ul>
            <p><mark style="background-color: lightgreen;">GET</mark>: Retrieve a list of time logs</p>
            <p><strong>Headers:</strong></p>
            <ul>
                <li><italic>Authorization: Bearer Token</italic></li>
                <li>openData: (Optional, for public access) Set to any value</li>
                <li>privateKey: (Required if openData is present) Correct private key</li>
            </ul>
            <p><strong>Query Parameters:</strong></p>
            <ul>
                <li>filter: (Optional) Filter string (e.g., limit=10&UserId=userId&active=true)
                    id: (Optional) Filter by Id</li>
            </ul>
            <p><strong>Success Response (200 OK):</strong></p>
<code>
{
    "containsData": boolean,
    "count": number,
    "items": [
        {
            "Ip": string,
            "Browser": string,
            "Active": boolean,
            "Edited": boolean,
            "EditedBy": string or false,
            "EditionDate": string or false,
            "EditionTime": string or false,
            "EndDate": string or false,
            "EndTime": string or false,
            "Id": string,
            "OriginalEndDate": string or false,
            "OriginalEndTime": string or false,
            "OriginalStartDate": string,
            "OriginalStartTime": string,
            "StartDate": string or false,
            "StartTime": string or false,
            "UserId": string
        }
    ],
    "limit": number,
    "query": "filter string or empty if no filter"
}
</code>
            <p><strong>Error Responses:</strong></p>
            <ul>
                <li>401 Unauthorized: Invalid authorization (missing or incorrect headers)</li>
                <li>403 Forbidden: Missing parameter 'id' when using public access</li>
            </ul>
            <p><mark style="color:white;background-color: red;">DELETE</mark>: Delete a time log</p>
            <p><strong>Headers:</strong></p>
            <p><italic>Authorization: Bearer Token</italic></p>
            <p><strong>Query Parameters:</strong></p>
            <ul>
                <li>filter: (Optional) Filter string to select time logs for deletion
                    id: (Optional) Filter by Id for deletion</li>
            </ul>
            <p><strong>Success Response (200 OK):</strong></p>
<code>
{
    "deleted_ids": [ "id_1", "id_2" ],
    "transaction_ids": {
        "id_1": "transaction_id_for_id_1",
        "id_2": "transaction_id_for_id_2"
    }
}
</code>
            <p><strong>Error Responses:</strong></p>
            <ul>
                <li>401 Unauthorized: Invalid authorization</li>
                <li>500 Internal Server Error: Errors occurred during deletion</li>
            </ul>
        </section>
        <section>
            <h1>6. Transactions Service</h1>
            <p><strong>Endpoint: /transaction </strong> </p>
            <h3>Methods</h3>
            <p><mark style="background-color: lightgreen;">GET</mark>: Retrieve a list of transactions</p>
            <p><strong>Headers:</strong></p>
            <p><italic>Authorization: Bearer Token</italic></p>
            <p><strong>Query Parameters:</strong></p>
            <ul>
                <li>filter: (Optional) Filter string (e.g., limit=10&userId=userId&alert=true)</li>
                <li>id: (Optional) Filter by transaction id</li>
            </ul>
            <p><strong>Success Response (200 OK):</strong></p>
<code>
{
    "containsData": boolean,
    "count": number,
    "items": [
        {
            "dateTime": "timestamp",
            "id": "transaction ID",
            "userId": "user ID",
            "alert": boolean,
            "action": "transaction action",
            "severity": "transaction severity"
        }
    ],
    "limit": number,
    "query": "filter string or empty if no filter"
}
</code>
            <p><strong>Error Responses:</strong></p>
            <ul>
                <li>401 Unauthorized: Invalid authorization</li>
            </ul>
            <p><mark style="color:white;background-color: red;">DELETE</mark>: Delete transactions
            </p>
            <p><strong>Headers:</strong></p>
            <p><italic>Authorization: Bearer Token</italic></p>
            <p><strong>Query Parameters:</strong></p>
            <ul>
                <li>filter: (Optional) Filter string to select transactions for deletion</li>
                <li>id: (Optional) Filter by transaction id for deletion</li>
            </ul>
            <p><strong>Success Response (200 OK):</strong></p>
<code>
{
    "count": number_of_deleted_transactions
}
</code>
            <p><strong>Error Responses:</strong></p>
            <ul>
                <li>401 Unauthorized: Invalid authorization</li>
                <li>500 Internal Server Error: Errors occurred during deletion</li>
            </ul>
        </section>
    </div>
</div>

{% endblock %}

{% block _flex_menu %}

{% if _logged: %}
<div class="_menu_box _box_main _box_main_bot" id="_backtoapidocs">Back to Apidocs</div>
{% else: %}
<div class="_menu_box _box_main _box_main_bot _en _hidden" id="_login_en">Login</div>
<div class="_menu_box _box_main _box_main_bot _en _hidden" id="_signup_en">Signup</div>
<div class="_menu_box _box_main _box_main_bot _es _hidden" id="_login_es">Inicia Sesion</div>
<div class="_menu_box _box_main _box_main_bot _es _hidden" id="_signup_es">Registrate</div>
{% endif %}

{% endblock %}

{% block scripts %}
{{ super() }}
<script src="../static/apidocs.js"></script>
{% endblock %}