<html>
    <head>
        <title> Adminde Time Card - API Docs V-0.1</title>
        <link rel="icon" type="" href="../static/tc_logo.ico">
    </head>
    <body>
        <h1>Login Service <mark> GET /login</mark> </h1>
        <p>Service called via a GET request. Serve as a login service.</p>
        <p><mark>Request params:</mark></p>
        <ul>
            <li> <strong> u </strong>: Username string</li>
            <li> <strong> p </strong>: Base64 password string</li>
        </ul>
        <p><mark>Response payload:</mark></p>
        <code>
            {
                "expire": expire_string,
                "id": id_string,
                "username": username_string
            }
        </code>
        <p><mark>Error responses: </mark></p>
        <ul>
            <li> <strong> 401 </strong>: User or password not valid.</li>
            <li> <strong> 404 </strong>: User not yet registered.</li>
        </ul>
        <h1>Signup Service <mark> POST /signup</mark> </h1>
        <p>Service called via a POST request. </p>
        <p><mark>Request payload:</mark></p>
        <code>
            {
                "activate": active_bool,
                "username": username_string,
                "bday": birthday_string,
                "email": email_string,
                "fname": fullname_string,
                "pass": b64password_string,
                "phone": phone_string,
                "pin": pin_string, 
                "plan": plan_number,
                "postalCode": postalcode_string,
                "terms": terms_bool,
                "type": type_nuber
            }
        </code>
        <p><mark>Response payload:</mark></p>
        <code>
            {
                "trxId": transaxtion_id
            }
        </code>
        <p><mark>Error responses: </mark></p>
        <ul>
            <li> <strong> 500 </strong>: Error creating user in backend.</li>
            <li> <strong> 409 </strong>: User already registered.</li>
            <li> <strong> 400 </strong>: Bad request.</li>
        </ul>
        <h4> <a href="/apidocs"> API Docs</a></h4>
    </body>
</html>