<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} Adminde Time Card {% endblock %}</title>
        {% block styles %}
        <link rel="stylesheet" href="{{host_url}}/static/base.css">
        {% endblock %}
        <link rel="icon" type="" href="{{host_url}}/static/_logo.ico">
    </head>
    <body>
        <div class="_content _main">
            <div class="_top">
                <div class="_title">
                    <bold_italic>
                    {% block _title %}
                    Adminde.com
                    {% endblock %}
                    </bold_italic>
                </div>
                <div class="_menu_button">   
                    <input type="checkbox" id="burger-toggle" value="1">
                    <label for="burger-toggle" class="burger-menu">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                    </label>
                    <div class="overlay"></div>
                </div> 
            </div>
            <div class="_flex_box">
                {% block _flex_box %}
                <p> _flex_box</p>
                {% endblock %}
            </div>
            <div class="_flex_menu _hidden">
                {% block _flex_menu %}
                <p> _flex_menu</p>
                {% endblock %}
                <div class="_menu_box _box_main _box_main_bot" id="_menu_box_extender"><bold_italic>Show Options</bold_italic></div>
                <div class="_menu_box _box_altern _box_altern_bot _hidden" id="_contac">Contact</div>
                <div class="_menu_box _box_altern _box_altern_bot _hidden" id="_legal">Legal</div>
                <div class="_menu_box _box_altern _box_altern_bot _hidden" id="_about">About</div>
                <div class="_menu_box _box_altern _box_altern_bot _hidden" id="_jobs">Jobs</div>
                <div class="_menu_box _box_altern _box_altern_bot _hidden" id="_home">Home</div>
                <div class="_menu_box _box_altern _box_altern_bot _hidden" id="_trans">🇺🇸En/🇲🇽Es</div>
            </div>
        </div>
        <div class="_desktop_view">
        </div>
        
        {% block content %}
        {% endblock %}
        <div class="_flex_display _box_yellow {% if _cookies_policy %} _hidden {% endif %}">
            <p>Adminde and our third-party vendors use cookies and similar technologies to deliver, maintain, and improve our services and ads. If you agree, we will use this data for ads personalization and associated analytics.</p>
            <p>You can select 'Accept' to consent to these uses, 'Reject' to decline these uses or click on 'More options' to review your options. You can change your selection under 'Manage Cookie Preferences' at the bottom of this page. <a href="/legal"> Privacy Statement</a></p>
            <input class="_generic_button color_1_bg color_2_tx " type="button" value="Accept" onClick="console.log('all');document.cookie = 'cookies_policy=all'; document.getElementsByClassName('_flex_display')[0].classList.add('_hidden');">
            <input class="_generic_button color_1_bg color_2_tx " type="button" value="Reject" onClick="console.log('all');document.cookie = 'cookies_policy=none'; document.getElementsByClassName('_flex_display')[0].classList.add('_hidden');">
            <input class="_generic_button color_1_bg color_2_tx " type="button" value="More" onClick="console.log('all');document.cookie = 'cookies_policy=some'; document.getElementsByClassName('_flex_display')[0].classList.add('_hidden');">
        </div>
        <div class="_floating_buttons _hidden">
            <div class="_floating_control{% block floating_control_style %}{% endblock%}" id="_fb_0">
                {% block floating_control %} Hide {% endblock%}
            </div>
            <div class="_floating_button {% block floating_button_1_style %} {% endblock %}" id="_fb_1">
                {% block floating_button_1%} {% endblock%}
            </div>
            <div class="_floating_button {% block floating_button_2_style %} {% endblock %}" id="_fb_2">
                {% block floating_button_2%} {% endblock%}
            </div>
            <div class="_floating_button {% block floating_button_3_style %} {% endblock %}" id="_fb_3">
                {% block floating_button_3%} {% endblock%}
            </div>
        </div>

        <div class="_flex_centered _hidden">
            <div class="_loading_wheel"></div>
        </div>
        {% block scripts %}
        <script src="{{host_url}}/static/base.js"></script>
        {% endblock %}
    </body>
</html>