{% extends 'base.html' %}
{% block title %}
Dashboard - {{ super() }}
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="../static/dashboard.css">
{{ super() }}
{% endblock %}

{% block _title %}
Welcome 
{% endblock %}

{% block _flex_box %}
<div class="_main_block">
    <div class="_main_block_alerts {% if _flag_status %} {{ _flag_status }} {% else %} _hidden {% endif %} ">
        {% if _flag_content %} <p>{{ _flag_content }} </p> {% endif %}
    </div>
    <div class="_main_block_content">
        <div class="_option_block _main _box_main" id="_opt_new_ws">
            <div class="_ob_text _en _hidden">
                New Workspace
            </div>
            <div class="_ob_text _es _hidden">
                Crear Workspace
            </div>
        </div>
        <div class="_option_block _main _box_main" id="_opt_manage_ws">
            <div class="_ob_text _en _hidden">
                Manage Profile
            </div>
            <div class="_ob_text _es _hidden">
                Administrar Perfil
            </div>
        </div>
        <div class="_option_block _main _box_main " id="_opt_help">
            <div class="_ob_text _en _hidden">
                Request Help
            </div>
            <div class="_ob_text _es _hidden">
                Solicitar Ayuda
            </div>
        </div>
        <div class="_option_block _main _box_main">
            <div class="_ob_text _en _hidden">
                Tutorials & Walkthrough
            </div>
            <div class="_ob_text _es _hidden">
                Tutoriales y Apoyo
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block _flex_menu %}
<div class="_menu_box _box_main _box_main_bot _en _hidden" id="_profile_en">Profile</div>
<div class="_menu_box _box_main _box_main_bot _es _hidden" id="_profile_es">Perfil</div>
<div class="_menu_box _box_main _box_main_bot _en _hidden" id="_create_ws_en">New Workspace</div>
<div class="_menu_box _box_main _box_main_bot _es _hidden" id="_create_ws_es">Crear Workspace</div>
<div class="_menu_box _box_main _box_main_bot _en _hidden" id="_manage_ws_en">Edit Workspace</div>
<div class="_menu_box _box_main _box_main_bot _es _hidden" id="_manage_ws_es">Administrar WS</div>
<div class="_menu_box _box_main _box_main_bot _en _hidden" id="_help_en">Request Help</div>
<div class="_menu_box _box_main _box_main_bot _es _hidden" id="_help_es">Ayuda</div>
<div class="_menu_box _box_main _box_main_bot _en _hidden" id="_logout_en">Close Session</div>
<div class="_menu_box _box_main _box_main_bot _es _hidden" id="_logout_es">Cerrar Sesion</div>
{% endblock %}


{% block scripts %}
{{ super() }}
<script src="../static/dashboard.js"></script>
{% endblock %}