{% extends 'base.html' %}
{% block title %}
Dashboard - {{ super() }}
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="../static/dashboard.css">
{{ super() }}
{% endblock %}

{% block _title %}
Welcome 
{% endblock %}

{% block _flex_box %}
<div class="_main_block">
    <div class="_main_block_alerts {% if _flag_status %} {{ _flag_status }} {% else %} _hidden {% endif %} ">
        {% if _flag_content %} <p>{{ _flag_content }} </p> {% endif %}
    </div>
    <div class="_main_block_content">
        <div class="_option_block _main _box_main _en">
            <div class="_ob_text">
                Create new workspace
            </div>
        </div>
        <div class="_option_block _main _box_main _en">
            <div class="_ob_text">
                Manage Profile
            </div>
        </div>
        <div class="_option_block _main _box_main _en">
            <div class="_ob_text">
                Request Help
            </div>
        </div>
        <div class="_option_block _main _box_main _en">
            <div class="_ob_text">
                Tutorials & Walkthrough
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block _flex_menu %}
<div class="_menu_box _box_main _box_main_bot _en _hidden" id="_create_ws_en">New Workspace</div>
<div class="_menu_box _box_main _box_main_bot _es _hidden" id="_create_ws_es">Crear Workspace</div>
<div class="_menu_box _box_main _box_main_bot _en _hidden" id="_manage_ws_en">Manage WS</div>
<div class="_menu_box _box_main _box_main_bot _es _hidden" id="_manage_ws_es">Administrar WS</div>
<div class="_menu_box _box_main _box_main_bot _en _hidden" id="_help_en">Help</div>
<div class="_menu_box _box_main _box_main_bot _es _hidden" id="_help_es">Ayuda</div>
<div class="_menu_box _box_main _box_main_bot _en _hidden" id="_logout_en">Close Session</div>
<div class="_menu_box _box_main _box_main_bot _es _hidden" id="_logout_es">Cerrar Sesion</div>
{% endblock %}


{% block scripts %}
{{ super() }}
<script src="../static/dashboard.js"></script>
{% endblock %}