<html>
    <head>
        <title>Adminde Time Card </title>
    </head>
    <body style="background-color: #F5F5F2;color: #2A2900">
        <div class="_desktop_view" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
            <div>
                <bold_italic style="font-size: 60px; font-weight: bold; font-style: italic; box-sizing: border-box; ">
                    Adminde Time Card
               </bold_italic>
            </div>
            <p style="margin: 18% 35%;max-width: 26%;text-align: center;">We are sorry, in this moment you can only use Adminde Time Card in your phone or tablet. Support for a Desktop app is not yet available in your region. Find more information in <a href="https://www.maualkla.com" style="color: #754CA0">maualkla.com/adminde/releases</a></p>
        </div>
    </body>
</html>
    