{% extends 'base.html' %}
{% block title %}
{{ super() }}
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="../static/home.css">
{{ super() }}
{% endblock %}

{% block _title %}
Adminde Time Card
{% endblock %}

{% block _flex_box %}
<div class="_main_block">
    <div class="_main_block_top"> 
        <p class="_en _hidden _mbt_top"><bold>Simplifica</bold> el <bold_italic>registro de horas</bold_italic> para tus empleados y <bold> para tí.</bold> </p>
        <p class="_en _hidden _mbt_bottom"><bold>Adminde Time Card ©</bold>, la app de reloj checador que simplifica el proceso de <bold>captura de horas</bold> para tu empresa.</p>
        <p class="_es _hidden _mbt_top"><bold>Simplifica</bold> el <bold_italic>registro de horas</bold_italic> para tus empleados y <bold> para tí.</bold> </p>
        <p class="_es _hidden _mbt_bottom"><bold>Adminde Time Card ©</bold>, la app de reloj checador que simplifica el proceso de <bold>captura de horas</bold> para tu empresa.</p>
    </div>
    <div class="_main_block_med">
        <div class="_button_big  color_2_bg color_1_tx" id="_signup_button">
            <p class="_en _hidden"><bold>Empieza Ahora</bold></p>
            <p class="_es _hidden"><bold>Empieza Ahora</bold></p>
        </div>
    </div>
    <div class="_main_block_bot color_2_bg" id="_mbb_text">
        <p class="_en _hidden _big_text color_1_tx"><bold_italic>Programa una Demo</bold_italic></p>
    </div>
</div>
{% endblock %}

{% block _flex_menu %}
{% if _logged: %}
<div class="_menu_box _box_main _box_main_bot" id="_dashboard">Dashboard</div>
{% else: %}
<div class="_menu_box _box_main _box_main_bot _en _hidden" id="_login_en">Login</div>
<div class="_menu_box _box_main _box_main_bot _en _hidden" id="_signup_en">Signup</div>
<div class="_menu_box _box_main _box_main_bot _es _hidden" id="_login_es">Inicia Sesion</div>
<div class="_menu_box _box_main _box_main_bot _es _hidden" id="_signup_es">Registrate</div>
{% endif %}
{% endblock %}


{% block scripts %}
{{ super() }}
<script src="../static/home.js"></script>
{% endblock %}