{% extends 'base.html' %}
{% block title %}
{{ super() }}
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="../static/home.css">
{{ super() }}
{% endblock %}

{% block _title %}
Time Card
{% endblock %}

{% block _flex_box %}
<div class="_main_block">
    <div class="_main_block_top"> 
        <p class="_en _hidden">An app that allow you to track the time your employees sing in and out from their duties. </p>
        <p class="_en _hidden">No more register inconsistencies, all in the cloud for you to have all the tracking in your hands.</p>
        <p class="_es _hidden">Una app que te permite llevar el seguimiento del tiempo trabajado de tus empleados. </p>
        <p class="_es _hidden">Dile adios a las inconsistencias en los registros de asistencia, ten esa informacion en la nube y en la palma de tus manos</p>
    </div>
    <div class="_main_block_med">
        <div class="_button_big _box_altern _altern" id="_signup_button">
            <p class="_en _hidden">Start for free</p>
            <p class="_es _hidden">Inicia gratis</p>
        </div>
    </div>
    <div class="_main_block_bot">
        <img src="../static/bg_v3.jpg" alt="Adminde TC" >
    </div>
</div>
{% endblock %}

{% block _flex_menu %}
{% if _logged: %}
<div class="_menu_box _box_main _box_main_bot" id="_dashboard">Dashboard</div>
{% else: %}
<div class="_menu_box _box_main _box_main_bot _en _hidden" id="_login_en">Login</div>
<div class="_menu_box _box_main _box_main_bot _en _hidden" id="_signup_en">Signup</div>
<div class="_menu_box _box_main _box_main_bot _es _hidden" id="_login_es">Inicia Sesion</div>
<div class="_menu_box _box_main _box_main_bot _es _hidden" id="_signup_es">Registrate</div>
{% endif %}
{% endblock %}


{% block scripts %}
{{ super() }}
<script src="../static/home.js"></script>
{% endblock %}