{% extends 'base.html' %}
{% block title %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="container">
    <div id="top">
        <input type="button" class="ib_norm" id="B_Login" value="Login">
        <input type="button" class="ib_high" id="B_Register" value="Register">
    </div>
    <div id="middle">
        <p id="m_title">A simple Timecard for your Business</p>
        <div id="m_buttons">
            <input type="button" class="ib_norm" id="M_Login" value="Login">
            <input type="button" class="ib_high" id="M_Register" value="Register">
        </div>
        <p id="m_message">A simple app to control the time card for all your employees, manage from web and let your employees check in and out from their own devices. Give it a try sign up for free. </p>
    </div>
    <div id="bottom">
        <p id="bot_message">A simple app to control the time card for all your employees, manage from web and let your employees check in and out from their own devices. Give it a try sign up for free. </p>
        <a href="#" > Contact </a> - 
        <a href="#" > Legal </a> - 
        <a href="#" > About </a> - 
        <a href="https://www.maualkla.com/jobs" target="_blank"> Jobs </a> - 
        <a href="/" > Home </a>
    </div>
</div>
{% endblock %}