<html>
    <head>
        <meta charset="UTF-8">
        <title>Adminde - Login</title>
        <link rel="stylesheet" href="../static/style.css">
        <link rel="icon" type="" href="../static/tc_logo.ico">
    </head>
    <body>
        <input type="text" placeholder="email" id="i_email">
        <input type="text" placeholder="password" id="i_word">
        <input type="button" name="login" value="Login" id="b_login">
        <input type="button" name="back" id="b_back" value="Back to Landing">
        <input type="button" name="signup" id="b_signup" value="Sign Up">
    </body>
    <script src="../static/funct.js"></script>
</html>