{% extends 'base.html' %}
{% block title %}
Signup - {{ super() }}
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="../static/signup.css">
{{ super() }}
{% endblock %}

{% block _title %}
Adminde Signup
{% endblock %}


{% block _flex_box %}
<div class="_main_block">
    <div class="_main_block_alerts {% if _flag_status %} {{ _flag_status }} {% else %} _hidden {% endif %}" id="_xpc_signup_alert">
        {% if _flag_content %} <p>{{ _flag_content }} </p> {% endif %}
    </div>
    <div class="_main_block_content">
        <div class="_mbc_inputs " id="_stage_0">
            <input class="_input_general color_2_bg color_1_tx" type="text" placeholder="Full Name" id="i_fname">
            <input class="_input_general color_2_bg color_1_tx" type="text" placeholder="Username" id="i_username">
            <input class="_input_general color_2_bg color_1_tx" type="email" placeholder="Email" id="i_email" pattern="^[a-zA-Z0-9-_.]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9]+)*$">
            <input class="_input_general color_2_bg color_1_tx" type="password" placeholder="Password" id="i_pass" pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{12,}$">
            <input class="_input_general color_2_bg color_1_tx" type="password" placeholder="Repeat Password" id="i_pass_repeat" pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{12,}$">
        </div>
        <div class="_mbc_inputs _hidden" id="_stage_1">
            <input class="_input_general color_2_bg color_1_tx" type="number" placeholder="Phone" id="i_phone" pattern="^\d{10}$">
            <input class="_input_general color_2_bg color_1_tx" type="text" placeholder="Birthday DD.MM.YYYY" id="i_bday" pattern="^(0[1-9]|[12][0-9]|3[01])\.(0[1-9]|1[012])\.(19|20)\d\d$">
            <input class="_input_general color_2_bg color_1_tx" type="text" placeholder="Postal Code" id="i_postalCode" pattern="^\d{5}$">
        </div>
        <div class="_mbc_inputs _hidden" id="_stage_2">
            <div class="_big_selector color_1_bg color_2_tx color_2_border" id="_plan_op1"><bold>Free Plan</bold> (5 Users)<br> <italic>$0.00 USD / month</italic></div>
            <div class="_big_selector color_1_bg color_2_tx color_2_border" id="_plan_op2"><bold>Standard</bold> (20 Users)<br> <italic>$5.00 USD / month</italic></div>
            <div class="_big_selector color_1_bg color_2_tx color_2_border" id="_plan_op3"><bold>Pro Plan</bold> (50 Users)<br> <italic>$15.00 USD / month</italic></div>
        </div>
        <div class="_mbc_inputs _hidden" id="_stage_3">
            <div class="_terms_box">
                <input class="_big_checkbox _main" type="checkbox" class="" required placeholder="terms" value="1" id="i_terms">
                <label class="_label _en _hidden" for="i_terms_text_en"><bold>I have read and accept the <a href="/legal" target="_blank">terms and conditions </a> of use.</bold>  </label>
                <label class="_label _es _hidden" for="i_terms_text_es"><bold>He leido y acepto los <a href="/legal" target="_blank">terminos y condiciones </a> de uso.</bold> </label>
            </div>
        </div>
        <div class="_mbc_inputs _hidden" id="_stage_4">
            <div class="_terms_box">
                <input class="_big_checkbox _main" type="checkbox" class="" required placeholder="terms" value="1" id="i_terms">
                <label class="_label _en _hidden" for="i_terms_text_en"><bold>The payment will be done in the Stripe site and then you will be redirected back.</bold>  </label>
                <label class="_label _es _hidden" for="i_terms_text_es"><bold>El pago se hara en el sitio de Stripe y despues seras redirigido de vuelta.</bold> </label>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block _flex_menu %}
{% if _logged: %}
<div class="_menu_box _box_main _box_main_bot" id="_dashboard">Dashboard</div>
{% else: %}
<div class="_menu_box _box_main _box_main_bot _en _hidden" id="_login_en">Login</div>
<div class="_menu_box _box_main _box_main_bot _es _hidden" id="_login_es">Iniciar Sesion</div>
{% endif %}
{% endblock %}
{% block floating_button_1_style %} color_2_bg color_1_tx color_2_border {% endblock %}
{% block floating_button_1 %} <p class="_en _hidden"><bold>Next</bold></p><p class="_es _hidden"><bold>Siguiente</bold></p> {% endblock %}
{% block floating_button_2_style %} _hidden color_2_bg color_1_tx color_2_border{% endblock %}
{% block floating_button_2 %} <p class="_en _hidden"><bold>Create Account</bold></p><p class="_es _hidden">Create Account</p> {% endblock %}
{% block floating_button_3_style %} _hidden color_1_bg color_2_tx color_2_border{% endblock %}
{% block floating_button_3 %} <p class="_en _hidden"><bold>Back</bold></p><p class="_es _hidden">Atras</p> {% endblock %}
{% block scripts %}
{{ super() }}
<script src="https://js.stripe.com/v3/"></script>
<script src="../static/signup.js"></script>
{% endblock %}