{% extends 'base.html' %}
{% block title %}
Transactions Manager - {{ super() }}
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="../static/transactions.css">
{{ super() }}
{% endblock %}

{% block _title %}
TRX Manager 
{% endblock %}

{% block _flex_box %}
<div class="_main_block">
    <div class="_main_block_alerts {% if _flag_status %} {{ _flag_status }} {% else %} _hidden {% endif %} ">
        {% if _flag_content%} <p>{{ _flag_content }} </p> {% endif %}
    </div>
    <div class="_main_block_content ">
        
    </div>
</div>
{% endblock %}

{% block _flex_menu %}
<div class="_menu_box _box_main _box_main_bot _en _hidden" id="_dash_en">Back to Dashboard</div>
<div class="_menu_box _box_main _box_main_bot _es _hidden" id="_dash_es">Regresar a Dashboard</div>
<div class="_menu_box _box_main _box_main_bot _en _hidden" id="_logout_en">Close Session</div>
<div class="_menu_box _box_main _box_main_bot _es _hidden" id="_logout_es">Cerrar Sesion</div>
{% endblock %}


{% block scripts %}
{{ super() }}
<script src="../static/transactions.js"></script>
{% endblock %}