{% extends 'base.html' %}
{% block title %}
Transactions Manager - {{ super() }}
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="../static/transactions.css">
{{ super() }}
{% endblock %}

{% block _title %}
TRX Manager 
{% endblock %}

{% block _flex_box %}
<div class="_main_block">
    <div class="_main_block_alerts {% if _flag_status %} {{ _flag_status }} {% else %} _hidden {% endif %} ">
        {% if _flag_content%} <p>{{ _flag_content }} </p> {% endif %}
    </div>
    <div class="_main_block_content ">
        <div class="_main_block_upper">
            {% for _item in _items %}
            <div class="_mbu_item">
                <div class="_mbu_item_title">
                    {{ _item["_type"] }}
                </div>
                <div class="_mbu_item_date">
                    {{ _item["_date"] }}
                </div>
                <div class="_mbu_item_user">
                    {{ _item["_user"] }}
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="_main_block_lower">
            <div class="_button_big _altern" id="_next_button">
                <p class="_en _hidden">Search</p>
                <p class="_es _hidden">Buscar</p>
            </div>
            <div class="_button_big _main " id="_create_button">
                <p class="_en _hidden">Refresh</p>
                <p class="_es _hidden">Actualizar</p>
            </div>
        </div>
    </div>
    <div class="_main_block_search _hidden">
        search -o
    </div>
</div>
{% endblock %}

{% block _flex_menu %}
<div class="_menu_box _box_main _box_main_bot _en _hidden" id="_dash_en">Back to Dashboard</div>
<div class="_menu_box _box_main _box_main_bot _es _hidden" id="_dash_es">Regresar a Dashboard</div>
<div class="_menu_box _box_main _box_main_bot _en _hidden" id="_logout_en">Close Session</div>
<div class="_menu_box _box_main _box_main_bot _es _hidden" id="_logout_es">Cerrar Sesion</div>
{% endblock %}


{% block scripts %}
{{ super() }}
<script src="../static/transactions.js"></script>
{% endblock %}