{% extends 'base.html' %}
{% block title %}
Users Manager - {{ super() }}
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="../static/users.css">
{{ super() }}
{% endblock %}

{% block _title %}
Adminde Users 
{% endblock %}

{% block _flex_box %}
<div class="_main_block">
    <div class="_main_block_alerts {% if _flag_status %} {{ _flag_status }} {% else %} _hidden {% endif %} ">
        {% if _flag_content%} <p>{{ _flag_content }} </p> {% endif %}
    </div>
    <div class="_main_block_content ">
        {% if users_list %}
        {% for usr in users_list %}
        <div class="_box_custom_ws _box_main_bot" id="">
            <div class="_bc_ws_inf">
                {{usr['username'][:15]}}{% if usr['username']|length > 15 %}..{% endif %}
            </div>
            <div class="_bc_ws_tax">
                {{usr['email'][:22]}}{% if usr['email']|length > 22 %}..{% endif %}
            </div>
            <div class="_bc_ws_cit">
                {{usr['plan'][:22]}}{% if usr['plan']|length > 22 %}..{% endif %}
            </div>
            <div class="_bc_ws_pos">
                {{usr['type'][:22]}}{% if usr['type']|length > 22 %}..{% endif %}
            </div>
            <div class="_bc_ws_man" onClick="_manage_user('{{usr['email']}}');">
                <bold_italic>Manage</bold_italic>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="_big_menu_box color_3_bg color_1_tx _box_main_bot" id="_no_workspaces">
            <div class="_bbx_text _en _hidden">
                No Users created yet. 
            </div>
        </div>
        {% endif %}
    </div>
    <div class="_main_block_search _hidden">
        <div class="_mbs_upper">
            <div class="_mbc_inputs">
                <input class="_input_general color_1_tx color_2_bg" type="text" placeholder="Search by Email or Username" id="_search_input">
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block _flex_menu %}
<div class="_menu_box _box_main _box_main_bot _en _hidden" id="_dash_en">Back to Dashboard</div>
<div class="_menu_box _box_main _box_main_bot _es _hidden" id="_dash_es">Regresar a Dashboard</div>
<div class="_menu_box _box_main _box_main_bot _en _hidden" id="_logout_en">Close Session</div>
<div class="_menu_box _box_main _box_main_bot _es _hidden" id="_logout_es">Cerrar Sesion</div>
{% endblock %}


{% block floating_button_1_style %} color_2_bg color_1_tx color_2_border {% endblock %}
{% block floating_button_1 %} <p class="_en _hidden"><bold>Search</bold></p><p class="_es _hidden"><bold>Buscar</bold></p> {% endblock %}
{% block floating_button_2_style %} _hidden color_2_bg color_1_tx color_2_border{% endblock %}
{% block floating_button_2 %} <p class="_en _hidden"><bold></bold></p><p class="_es _hidden"><bold></bold></p> {% endblock %}
{% block floating_button_3_style %}  color_1_bg color_2_tx color_2_border{% endblock %}
{% block floating_button_3 %} <p class="_en _hidden"><bold>Refresh</bold></p><p class="_es _hidden"><bold>Actualizar</bold></p> {% endblock %}


{% block scripts %}
{{ super() }}
<script>
    {% set ns = namespace() %}
    _levels = [{% for level in levels %} {% if ns.value %} ,"{{level[1]}}" {% else %} {% set ns.value = 1 %} "{{level[1]}}" {% endif %} {% endfor %}];
    {% set ns = namespace() %}
    _plans = [{% for plan in plans %} {% if ns.value %} ,"{{plan[0]}}" {% else %} {% set ns.value = 1 %} "{{plan[0]}}"  {% endif %} {% endfor %}];
</script>
<script src="../static/users.js"></script>
{% endblock %}