{% extends 'base.html' %}
{% block title %}
Account - {{ super() }}
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{host_url}}/static/workspace_users_update.css">
{{ super() }}
{% endblock %}

{% block _title %}
{{users_list['Username'] }} / {{wsdata['ShortCode']}}
{% endblock %}

{% block _flex_box %}
<div class="_main_block">
    <div class="_main_block_alerts {% if _flag_status %} {{ _flag_status }} {% else %} _hidden {% endif %} ">
        {% if _flag_content%} <p>{{ _flag_content }} </p> {% endif %}
    </div>
    <div class="_main_block_content">
        <div class="_main_boxes">
            <input class="_input_general color_2_bg color_1_tx" type="text" id="_input_fname" placeholder="Full name" value="{{ users_list['FullName'] }}"/> 
            <div class="_input_general color_2_bg color_1_tx" id="_input_username" > <p style="margin:0;font-size: 80%;">{{users_list['Username'] }}</p> </div> 
            <input class="_input_general color_2_bg color_1_tx" type="text" id="_input_phone" placeholder="{{_phone }}" value="{{ users_list['Email'] }}"/> 
            <div class="_input_general color_2_bg color_1_tx" id="_input_bday"> <p style="margin:0;font-size: 70%;">Created By: {{ users_list['CreatedBy'] }}</p></div>
            <div class="_input_general color_2_bg color_1_tx" id="_input_postalCode"> <p style="margin:0;font-size: 80%;">{{users_list['Id'] }}</p> </div>
            <div class="_input_general color_2_bg color_1_tx" id="_input_admin" >
                <label for="switch" title="Is Admin" class="switch-container">
                    <!--span id="switch-label" class="label">Type od User: </span-->
                    <div class="toggle-container">
                        <input id="switch" type="checkbox" role="switch" aria-labelledby="switch-label" {% if users_list['Type'] == 1 %} checked {% endif %} />
                        <span class="slider"></span>
                    </div>
                    <span id="switch-status" class="toggle-status" aria-hidden="true">{% if users_list['Type'] == 1 %} Admin User {% else %} Regular User {% endif %} </span>
                </label>
            </div> 
            <div class="_menu_box _custom_mb color_3_bg color_1_tx color_1_border_bottom" id="_input_pass" ><bold_italic>Change Password</bold_italic></div>
        </div>
    </div>
    <div class="_main_block_content_pwd _hidden" >
        <div class="_main_boxes_pwd">
            <input class="_input_general color_2_bg color_1_tx" type="password" id="_input_old_pass" placeholder="Old Password" value=""/> 
            <input class="_input_general color_2_bg color_1_tx" type="password" id="_input_new_pass" placeholder="New Password" value=""/> 
            <input class="_input_general color_2_bg color_1_tx" type="password" id="_input_new_pass_repeat" placeholder="Repeat New Password" value=""/> 
        </div>
    </div>
    <div class="_hidden _main_block_numpad">
        <div class="_big_numpad" id="_set_pin">
            <div class="_numpad_box _altern" id=""><p>Type Pin</p></div>
            <div class="_num_button _altern" id="_num_button_1"><p>1</p></div>
            <div class="_num_button _altern" id="_num_button_2"><p>2</p></div>
            <div class="_num_button _altern" id="_num_button_3"><p>3</p></div>
            <div class="_num_button _altern" id="_num_button_4"><p>4</p></div>
            <div class="_num_button _altern" id="_num_button_5"><p>5</p></div>
            <div class="_num_button _altern" id="_num_button_6"><p>6</p></div>
            <div class="_num_button _altern" id="_num_button_7"><p>7</p></div>
            <div class="_num_button _altern" id="_num_button_8"><p>8</p></div>
            <div class="_num_button _altern" id="_num_button_9"><p>9</p></div>
            <div class="_num_button _altern" id="_num_button_0"><p>0</p></div>
            <div class="_num_button _altern" id="_num_button_del"><p><</p></div>
        </div>
        <div class="_numpad_buttons">
            <div class="_button_big _gray color_2_border" id="_set_pin_button">
                <p class="">Set Pin</p>
            </div>
            <div class="_button_big  color_1_bg color_2_tx color_2_border" id="_close_sesion_button">
                <p class="_en _hidden">Cancel</p>
                <p class="_es _hidden">Cancelar</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block _flex_menu %}
<div class="_menu_box _box_main _box_main_bot _en _hidden" id="_back_dash_en">Back to Dashboard</div>
<div class="_menu_box _box_main _box_main_bot _es _hidden" id="_back_dash_es">Regresar a Dashboard </div>
<div class="_menu_box _box_main _box_main_bot _en _hidden" id="_close_sesion_en">Close Session</div>
<div class="_menu_box _box_main _box_main_bot _es _hidden" id="_close_sesion_es">Cerrar Sesion</div>
{% endblock %}

{% block floating_button_1_style %} color_2_bg color_1_tx color_2_border {% endblock %}
{% block floating_button_1 %} <p class="_en _hidden"><bold>Save</bold></p><p class="_es _hidden"><bold>Guardar</bold></p> {% endblock %}
{% block floating_button_2_style %} color_1_bg color_2_tx color_2_border{% endblock %}
{% block floating_button_2 %} <p class="_en _hidden"><bold>Cancel</bold></p><p class="_es _hidden">Cancelar</p> {% endblock %}

{% block scripts %}
{{ super() }}
<script> const _context_vars = ["{{ user_id }}", {{ user_pin }}, "{{wsdata['MainHexColor']}}", "{{ wsdata['LowHexColor'] }}", "{{ wsdata['AlterHexColor'] }}", "{{ wsdata['TaxId'] }}"]; </script>
<script src="{{host_url}}/static/workspace_users_update.js"></script>
{% endblock %}