{% extends 'base.html' %}
{% block title %}
Workspace - {{ super() }}
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="../static/workspace.css">
{{ super() }}
{% endblock %}

{% block _title %}
Adminde Workspcs 
{% endblock %}

{% block _flex_box %}
<div class="_main_block">
    <div class="_main_block_alerts {% if _flag_status %} {{ _flag_status }} {% else %} _hidden {% endif %} ">
        {% if _flag_content%} <p>{{ _flag_content }} </p> {% endif %}
    </div>
    <div class="_main_block_content {% if user_pin == False %} _hidden {% endif %} ">
        <div class="_big_menu_box  " id="_redirect_last_ws">
            {% if ws_tax_id %}
            <div class="_bbx_text _en _hidden">
                Continue Working on <bold_italic>{% if ws_informal_name %} {{ws_informal_name}} {% else %} {{ws_tax_id}} {% endif%} </bold_italic>
            </div>
            <div class="_bbx_text _es _hidden">
                Sigue Trabajando con <bold_italic>{% if ws_informal_name %} {{ws_informal_name}} {% else %} {{ws_tax_id}} {% endif%} </bold_italic>
            </div>
            {% else %}
            <div class="_bbx_text _en _hidden">
                New <br>Workspace
            </div>
            <div class="_bbx_text _es _hidden">
                Crear <br>Workspace
            </div>
            {% endif %}
        </div>
        {% if ws_tax_id %}
        <div class="_big_menu_box" id="_redirect_wss">
            <div class="_bbx_text _en _hidden">
                View all your <bold_italic>Workspaces</bold_italic>
            </div>
            <div class="_bbx_text _es _hidden">
                Ver todos tus <bold_italic>Workspaces</bold_italic>
            </div>
        </div>
        {% endif %}
        <div class="_big_menu_box" id="_redirect_tutorials">
            <div class="_bbx_text _en _hidden">
                Tutorials and <br>Guides
            </div>
            <div class="_bbx_text _es _hidden">
                Tutoriales y <br>Guias
            </div>
        </div>
        <div class="_big_menu_box" id="_redirect_help">
            <div class="_bbx_text _en _hidden">
                Request <br> <bold_italic>Help</bold_italic>
            </div>
            <div class="_bbx_text _es _hidden">
                Solicitar <br><bold_italic>Ayuda</bold_italic>
            </div>
        </div>
        <div class="_big_menu_box" id="_last_login">
            <div class="_bbx_text _en _hidden">
                Last Login: <br> Date: {{ trx_last_login_date }}
            </div>
            <div class="_bbx_text _es _hidden">
                Ultimo inicio de sesion: <br> Fecha: {{ trx_last_login_date }}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block _flex_menu %}
<div class="_menu_box _box_main _box_main_bot _en _hidden" id="_back_dash_en">Back to Dashboard</div>
<div class="_menu_box _box_main _box_main_bot _es _hidden" id="_back_dash_es">Regresar a Dashboard </div>
<div class="_menu_box _box_main _box_main_bot _en _hidden" id="_close_sesion_en">Close Session</div>
<div class="_menu_box _box_main _box_main_bot _es _hidden" id="_close_sesion_es">Cerrar Sesion</div>
{% endblock %}


{% block scripts %}
{{ super() }}
<script src="../static/workspace.js"></script>
{% endblock %}