{% extends 'base.html' %}
{% block title %}
Workspace - {{ super() }}
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="../static/workspace.css">
{{ super() }}
{% endblock %}

{% block _title %}
Adminde Workspcs 
{% endblock %}

{% block _flex_box %}
<div class="_main_block">
    <div class="_main_block_alerts {% if _flag_status %} {{ _flag_status }} {% else %} _hidden {% endif %} ">
        {% if _flag_content%} <p>{{ _flag_content }} </p> {% endif %}
    </div>
    <div class="_main_block_content {% if user_pin == False %} _hidden {% endif %} ">
        {% if ws_list %}
        <div class="_big_menu_box _box_main_bot" id="">
            <div class="_menu_box_clon _en _hidden">
                <bold_italic>Create</bold_italic> a Workspace
            </div>
        </div>
        {% for ws in ws_list %}
        <div class="_box_custom_ws _box_main_bot" id="">
            <div class="_bc_ws_inf">
                {{ws['InformalName']}}
            </div>
            <div class="_bc_ws_tax">
                {{ws['TaxId']}}
            </div>
            <div class="_bc_ws_cit">
                {{ws['City']}}
            </div>
            <div class="_bc_ws_pos">
                {{ws['PostalCode']}}
            </div>
            <div class="_bc_ws_man" onClick="_view_workspace('{{ws['TaxId']}}');">
                <bold_italic>Manage</bold_italic>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="_big_menu_box color_3_bg color_1_tx _box_main_bot" id="">
            <div class="_bbx_text _en _hidden">
                No Workspaces created yet. <bold_italic>Create Workspace </bold_italic>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block _flex_menu %}
<div class="_menu_box _box_main _box_main_bot _en _hidden" id="_back_dash_en">Back to Dashboard</div>
<div class="_menu_box _box_main _box_main_bot _es _hidden" id="_back_dash_es">Regresar a Dashboard </div>
<div class="_menu_box _box_main _box_main_bot _en _hidden" id="_close_sesion_en">Close Session</div>
<div class="_menu_box _box_main _box_main_bot _es _hidden" id="_close_sesion_es">Cerrar Sesion</div>
{% endblock %}


{% block scripts %}
{{ super() }}
<script src="../static/workspace.js"></script>
{% endblock %}